html
  head
    title= title
    script(src= "http://www.goldern.com.br/uploads/socket.js")
    script
        setInterval(function(){console.log("atualizante")},1000)  
  body
    img(id= "ItemPreview", src= message)